<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162015269302-fu9q4gufvsqlku5i2icevpqs0flpsgrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162015269302-fu9q4gufvsqlku5i2icevpqs0flpsgrv</string>
	<key>API_KEY</key>
	<string>AIzaSyDVpezEIdPEKcsrinT1cRLYNRDB5rLSyU0</string>
	<key>GCM_SENDER_ID</key>
	<string>162015269302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rianharshaw.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-e9d71</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-e9d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162015269302:ios:88db281e77b38543a33117</string>
</dict>
</plist>